*{
	margin: 0px;
	padding: 0px;
}

input, textarea, button{
	border: none;
	outline: none;
}

span{
	font-family: 'Roboto', Light;
}

.winner{
    border-radius: 50% !important;
    border: 2px solid #119e00 !important;
    flex-basis: 48px !important;
    min-height: 48px !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
    background-position: center center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.container{
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

header.menu{
    flex-grow: 1;
    flex-basis: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background: -webkit-linear-gradient(left, #00b4ff 0%,#ff0000 100%); */
    background-color: #00b4ff;
}

header.menu button{
	/*display: inline-block;*/
	/*margin: 20% 10px;*/
	/*margin-bottom: none;*/
    background-size: 85% 85%;
    border-radius: 50%;
    margin-left: 10px;
    background-position: center center;
    background-repeat: no-repeat;
    margin-right: 10px;
    height: 64px;
    width: 64px;
    background-color: #00b4ff;
    /*border: 1px solid white;*/
    cursor: pointer;
    transition: 0.3s all;
}

header.menu button:hover{
	background-size: 90% 90%;
    background-color: #0089C2;
    transition: 0.3s all;
}

header.menu button.stone{
	background-image: url('/static/img/stone.png')
}

header.menu button.paper{
	background-image: url('/static/img/paper.png')
}

header.menu button.scissors{
	background-image: url('/static/img/scissors.png')
}

main.field{
    background-color: #004663;
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    justify-content: space-around;
    align-items: center;
}

main.field .player{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}

main.field .player .name{
    font-size: 26px;
    margin-bottom: 25px;
    color: #00b6ff;
}

main.field .player .image{
	background-image: url('/static/img/player.png');
	background-size: cover;
	height: 420px;
	width: 150px;
}

main.field .player .image .avatar{
	width: 118px;
	height: 118px;
	background-size: cover;
	background-position: center center;
	border-radius: 50%;
    margin-left: 15px;
    margin-top: 2px;
}

main.field .player .score{
    margin-top: 30px;
    font-size: 40px;
    color: #00adf2;
}

main.field .info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 75px;
}

main.field .info span.time{
	font-size: 22px;
	margin-bottom: 50px;
}

main.field .info span.big{
    font-size: 64px;
    color: #7d0000;
}

main.field .card{
    width: 250px;
    height: 400px;
    border-radius: 15px;
    border: 2px solid #000000;
    background-color: #e6e8d5;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 210px 210px;
}

footer.score{
    flex-grow: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #003144;
    flex-direction: row;
}

footer.score .point{
	border-radius: 50%;
	border: 2px solid black;
	flex-basis: 32px;
	min-height: 32px;
	margin-left: 5px;
	margin-right: 5px;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat; 
}

.preloader{    
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    z-index: 9999;
    top: 0px;
    left: 0px;
    text-align: center;
}

.spinner{
    display: inline-block;
    width: 150px;
    height: 150px;
    background: url('../img/spinner.png') center center;
    -webkit-background-size: contain;
    background-size: contain;
    transform-origin: 50% 50%;
    animation: spinner 5s infinite alternate cubic-bezier(0.57, 0, 0.35, 1);
    position: absolute;
    top: calc(50vh - 110px);
    left: calc(50vw - 75px);
}

.spinnerO{
    display: inline-block;
    width: 150px;
    height: 150px;
    background: url('../img/spinnerO.png') center center;
    -webkit-background-size: contain;
    background-size: contain;
    transform-origin: 50% 50%;
    animation: spinnerO 5s infinite alternate cubic-bezier(0.57, 0, 0.35, 1);
}

span.spinnerText{
    display: inline-block;
    color: white;
    font-size: 22px;
    margin-top: calc(50vh + 45px);
}

@keyframes spinner{
    100%{
        transform: rotate(3600deg);
    }
}

@keyframes spinnerO{
    100%{
        transform: rotate(-3600deg);
    }
}